<!doctype html>
<html lang="en">
{% load i18n %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% trans "User Agreement" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>{{sp_display_name}}</h2>
    <p>{{sp_display_description}}
    <h3>This app will receive the following information:</h3>
    <ul>
        {% for key, value in attrs_passed_to_sp.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <form method="post" action="">
        {% csrf_token %}
        <h1>{% trans "Agreement Screen" %}</h1>
        <h4>{{ sp_display_name }}</h4>
        <p>{{ sp_display_description }}</p>
        <div>
        <p>{{ sp_display_agreement_message|safe }}</p>

        <hr>
        <div>
            <p>{% trans "Do you agree to transmit to " %} <b>{{ sp_display_name }}</b> {% trans "the following personal attributes" %}:</p>
            <table>
                <thead>
                    <th>attribute name</th>
                    <th>value</th>
                </thead>
                <tbody>
        {% for attr, value in attrs_passed_to_sp.items %}
            <tr>
                <td>{{ attr }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
            </tbody>
            </table>
        </div>

        <hr>
        </div>
            {{ form }}
        </div>

        <div>
            <input type="submit" value="{% trans 'Submit' %}"  />
        </div>
    </form>
</body>

</html>
