<!doctype html>
<html lang="en">
{% load i18n %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% trans "User Agreement" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form method="post" action="">
        {% csrf_token %}
        <h1>{% trans "Agreement Screen" %}</h1>
        <h4>{{ sp_display_name }}</h4>
        <p>{{ sp_display_description }}</p>
        <div>
        <p>{% lorem %}</p>

        <div>
            <ul>
        {% for attr in attrs_passed_to_sp %}
            <li>{{ attr }}</li>
        {% endfor %}
            </ul>
        </div>

        </div>
            {{ form }}
        </div>
        <input type="submit" value="{% trans 'Submit' %}"  />
    </form>
</body>

</html>
