language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10
  - DJANGO_VERSION=1.11b1
install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install -q -r requirements-dev.txt
  - python setup.py install
script:
  - python -Wall runtests.py